<!-- --- FILE: ./pre_lobby/tv.html --- -->
{% extends "templates/base.html" %}

{% block content %}
<div class="ps pre-lobby">

  <!-- BACKGROUND SVG (identisch zur lobby/tv.html) -->
  <div class="lobby-bg" aria-hidden="true">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
      viewBox="0 0 1600 900" preserveAspectRatio="xMidYMax slice">
      <defs>
        <linearGradient id="bg">
          <stop offset="0%" style="stop-color:rgba(130, 158, 249, 0.06)"></stop>
          <stop offset="50%" style="stop-color:rgba(76, 190, 255, 0.6)"></stop>
          <stop offset="100%" style="stop-color:rgba(115, 209, 72, 0.2)"></stop>
        </linearGradient>
        <path id="wave" fill="url(#bg)" d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
	s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
      </defs>
      <g>
        <use xlink:href="#wave" opacity=".3">
          <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="translate"
            dur="10s"
            calcMode="spline"
            values="270 230; -334 180; 270 230"
            keyTimes="0; .5; 1"
            keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
            repeatCount="indefinite" />
        </use>
        <use xlink:href="#wave" opacity=".6">
          <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="translate"
            dur="8s"
            calcMode="spline"
            values="-270 230;243 220;-270 230"
            keyTimes="0; .6; 1"
            keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
            repeatCount="indefinite" />
        </use>
        <use xlink:href="#wave" opacity=".9">
          <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="translate"
            dur="6s"
            calcMode="spline"
            values="0 230;-140 200;0 230"
            keyTimes="0; .4; 1"
            keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
            repeatCount="indefinite" />
        </use>
      </g>
    </svg>
  </div>

  <div class="ps__wrap pre-lobby__wrap">

    <audio
      id="bgm"
      src="/pre_lobby/media/backgroundmusic.mp3"
      preload="auto"
      loop
    ></audio>

    <div class="pre-lobby-center">

      <img
        class="pre-lobby-logo"
        src="/pre_lobby/media/quizshark.png"
        alt="QuizShark"
      />

      <!-- Info-Box -->
      <div
        class="lobby-infobox pre-lobby-infobox"
        id="pre-lobby-infobox"
        aria-live="polite"
      >
        <div id="pre-lobby-infobox-a" class="lobby-infobox__layer is-active"></div>
        <div id="pre-lobby-infobox-b" class="lobby-infobox__layer"></div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/lobby/static/tv.css">

<style>
  .ps.pre-lobby{
    width: 100%;
    height: 100%;
    font-family: "Nunito", Arial, sans-serif;
  }

  .pre-lobby__wrap{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 6rem;
    padding-top: 10rem;
  }

  .pre-lobby-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
    max-width: 120rem;
    margin-top: -2rem;
  }

  .pre-lobby-logo{
    width: min(84rem, 85vw);
    height: auto;
    display: block;
  }

  .pre-lobby-infobox{
    max-width: 110rem;
  }

  /* === TEXTGRÖSSE FIX === */
  .pre-lobby-infobox .lobby-infobox__layer{
    font-size: 5.0rem;
    line-height: 1.15;
  }
</style>

<script src="/pre_lobby/static/tv.js"></script>
{% endblock %}
