<!-- --- FILE: ./lobby/tv.html --- -->
{% extends "templates/base.html" %}

{% block content %}
<div class="ps lobby">

  <!-- BACKGROUND SVG (animated) -->
  <div class="lobby-bg" aria-hidden="true">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="100%"
      viewBox="0 0 1600 900" preserveAspectRatio="xMidYMax slice">
      <defs>
        <linearGradient id="bg">
          <stop offset="0%" style="stop-color:rgba(130, 158, 249, 0.06)"></stop>
          <stop offset="50%" style="stop-color:rgba(76, 190, 255, 0.6)"></stop>
          <stop offset="100%" style="stop-color:rgba(115, 209, 72, 0.2)"></stop>
        </linearGradient>
        <path id="wave" fill="url(#bg)" d="M-363.852,502.589c0,0,236.988-41.997,505.475,0
	s371.981,38.998,575.971,0s293.985-39.278,505.474,5.859s493.475,48.368,716.963-4.995v560.106H-363.852V502.589z" />
      </defs>
      <g>
        <use xlink:href="#wave" opacity=".3">
          <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="translate"
            dur="10s"
            calcMode="spline"
            values="270 230; -334 180; 270 230"
            keyTimes="0; .5; 1"
            keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
            repeatCount="indefinite" />
        </use>
        <use xlink:href="#wave" opacity=".6">
          <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="translate"
            dur="8s"
            calcMode="spline"
            values="-270 230;243 220;-270 230"
            keyTimes="0; .6; 1"
            keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
            repeatCount="indefinite" />
        </use>
        <use xlink:href="#wave" opacity=".9">
          <animateTransform
            attributeName="transform"
            attributeType="XML"
            type="translate"
            dur="6s"
            calcMode="spline"
            values="0 230;-140 200;0 230"
            keyTimes="0; .4; 1"
            keySplines="0.42, 0, 0.58, 1.0;0.42, 0, 0.58, 1.0"
            repeatCount="indefinite" />
        </use>
      </g>
    </svg>
  </div>

  <div class="ps__wrap lobby__wrap">

    <audio
      id="bgm"
      src="/lobby/media/backgroundmusic.mp3"
      preload="auto"
      loop
    ></audio>

    <!-- LEFT: Logo + Info + QR -->
    <div class="lobby-left">

      <!-- QR-SECTION: Referenzbreite (2 QR + Gap) -->
      <div class="qr-section">

        <!-- Logo (zentriert über QR-Section) -->
        <img
          class="lobby-logo"
          src="/lobby/media/quizshark.png"
          alt="QuizShark"
        />

<!-- Info-Box (wechselt Views per JS) -->
<div class="lobby-infobox" id="lobby-infobox" aria-live="polite">

  <div id="lobby-infobox-a" class="lobby-infobox__layer is-active"></div>
  <div id="lobby-infobox-b" class="lobby-infobox__layer"></div>
</div>


        <!-- QR Grid -->
        <div class="qr-grid">

                  <!-- WLAN QR -->
          <div class="qr-tile">
            <div class="qr-card">

              <div class="qr-codeArea">
                <div id="qr-wifi"></div>
              </div>

              <div class="qr-captionBox">
                <div class="qr-captionStep">1.</div>
                <div class="qr-captionText">
                  Mit QUIZSHARK WLAN verbinden
                </div>
              </div>

            </div>
          </div>


                    <!-- URL QR -->
          <div class="qr-tile">
            <div class="qr-card">

              <div class="qr-codeArea">
                <div id="qr-url"></div>
              </div>

              <div class="qr-captionBox">
                <div class="qr-captionStep">2.</div>
                <div class="qr-captionText">
                  Quiz im Browser öffnen
                </div>
              </div>

            </div>
          </div>


        </div>

      </div>
    </div>

    <!-- RIGHT: Players (Sidebar 1:1 AwardJokers-Logik) -->
    <div class="ps__sidebar lobby__sidebar">
      <div id="lobby-players" class="ps__players"></div>
    </div>

  </div>
</div>
{% endblock %}

{% block scripts %}
<link rel="stylesheet" href="/lobby/static/tv.css">

<script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
<script src="/lobby/static/tv.js"></script>
{% endblock %}
